<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>OpenPolySphere</string>
	<key>CFBundleIdentifier</key>
	<string>org.event.openpolysphere</string>
	<key>CFBundleName</key>
	<string>OpenPolySphere</string>
	<key>CFBundleDisplayName</key>
	<string>OpenPolySphere</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>__VERSION__</string>
	<key>CFBundleVersion</key>
	<string>__VERSION__</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>OpenPolySphere needs speech recognition to transcribe your voice during calls.</string>
</dict>
</plist>
